<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Donghun's Resume</title>


        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/resume.css}">
        <link rel="stylesheet" th:href="@{/css/minty.css}">
        <style>
            .blog-header {
                line-height: 1;
                border-bottom: 1px solid #e5e5e5;
            }

            .blog-header-logo {
                font-family: "Playfair Display", Georgia, "Times New Roman", serif;
                font-size: 2.25rem;
            }

            .blog-header-logo:hover {
                text-decoration: none;
            }
        </style>


        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
              rel="stylesheet">

        <!-- Custom styles for this template -->


        <th:block layout:fragment="cssScript"></th:block>

    </head>

    <body id="page-top">

        <!-- 네비게이션 -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <!-- 이력서 이미지 -->
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Donghun's Resume</span>
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../img/aa.jpg" alt="">
                </span>
            </a>
            <!-- 왼쪽 본문 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" th:href="@{/experience/}">Experience</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div layout:fragment="content"></div>

        </div>

        <script th:src="@{/js/jquery-3.3.1.js}"></script>

        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.js}"></script>
        <th:block layout:fragment="jsScript"></th:block>

    </body>

</html>